<!DOCTYPE html>
<html>

<head>
  <title>{{ item.Name }}</title>
</head>

<body>
  <nav>
    <a href="/">Home</a>

    <a href="/library/{{ movies_library.Id }}/?name=Movies">
      Movies
    </a>

    <a href="/library/{{ shows_library.Id }}/?name=Shows">
      Shows
    </a>

    <a href="/library/{{ anime_library.Id }}/?name=Anime">
      Anime
    </a>
  </nav>
  <img src="{{ JELLYFIN_URL }}/Items/{{ item.Id }}/Images/Primary?api_key={{ api_key }}" alt="{{ item.Name }}"
    style="max-width: 200px;">

  <h1>{{ item.Name }}</h1>

  <p>Year: {{ item.ProductionYear }}</p>

  <p>Type: {{ item.Type }}</p>
</body>

</html>
