{% extends "jellyfin/base.html" %}

{% block title %}
Seasons
{% endblock %}

{% block content %}

<style>
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    gap: 20px;
  }

  .poster {
    text-decoration: none;
    color: inherit;
  }

  .poster img {
    width: 200px;
  }

  .poster p {
    margin: 8px 0 0 0;
  }
</style>

<div class="grid">
  {% for season in seasons %}
    <a class="poster" href="/episodes/{{ season.Id }}/">
    <img
      src="{{ JELLYFIN_URL }}/Items/{{ season.Id }}/Images/Primary?api_key={{ api_key }}"
      alt="{{ season.Name }}"
    >

    <p>{{ season.Name }}</p>

  </a>
  {% endfor %}
</div>

{% endblock %}